body {
  width: 450px;
  height: 300px;
  white-space: nowrap;
  background-color: white;
}
#container {
  width: 230px;
  height: 230px;
}
.video {
  width: 230px;
  height: 230px;
  background-color: #666;
  object-fit: cover;
}
